@model CinemaWebApplication.Seat

@{
    ViewData["Title"] = "CreateAll";
}

<h1>Додавання нового місця</h1>

<h4>Місце</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAll">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RowNumber" class="control-label"></label>
                <input asp-for="RowNumber" class="form-control" />
                <span asp-validation-for="RowNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatNumber" class="control-label"></label>
                <input asp-for="SeatNumber" class="form-control" />
                <span asp-validation-for="SeatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinemaHallId" class="control-label"></label>
                <select asp-for="CinemaHallId" class="form-control" asp-items="ViewBag.CinemaHallId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
